GOOGLE_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbwywkIByh26GZP1nQ15ioaW679qHVKS1mRdhQhW5jUF6gsT-TSiyi7qzGPM11ZB16LP/exec
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=your_google_sheet_id
GOOGLE_SHEETS_SHEET_NAME=Registrations
